<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [10]:
import pandas as pd

In [11]:
url_data="https://raw.githubusercontent.com/EderReisS/Python_Machine_Learning/main/input_Files/Credit.csv"

In [12]:
df=pd.read_csv(url_data)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   int64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [29]:
df.iloc[:,3].unique().tolist()

['radio/tv',
 'education',
 'furniture/equipment',
 "'new car'",
 "'used car'",
 'business',
 "'domestic appliance'",
 'repairs',
 'other',
 'retraining']

In [22]:
df

    checking_status  duration  ... foreign_worker class
0                <0         6  ...            yes  good
1          0<=X<200        48  ...            yes   bad
2     'no checking'        12  ...            yes  good
3                <0        42  ...            yes  good
4                <0        24  ...            yes   bad
..              ...       ...  ...            ...   ...
995   'no checking'        12  ...            yes  good
996              <0        30  ...            yes  good
997   'no checking'        12  ...            yes  good
998              <0        45  ...            yes   bad
999        0<=X<200        45  ...            yes  good

[1000 rows x 21 columns]

In [31]:
%%writefile api_credit.py

from flask import Flask, request
from flask_restful import Resource, Api
import pandas as pd


app = Flask(__name__)
api = Api(app)

url_data="https://raw.githubusercontent.com/EderReisS/Python_Machine_Learning/main/input_Files/Credit.csv"
df_credit = pd.read_csv(url_data)

class credit_purpose(Resource):
    def get(self, purpose_):
        purpose_filter= df_credit['purpose']== purpose_
        credit_purpose = df_credit[purpose_filter]
        return credit_purpose.to_json(orient='columns')
    
class purposes(Resource):
    def get(self):
        return df_credit['purpose'].unique().tolist()
    

api.add_resource(credit_purpose, '/<string:purpose_>')
api.add_resource(purposes, '/')

if __name__ == '__main__':
    app.run(debug=True)

Overwriting api_credit.py